/* ========== Базовый стиль страницы ========== */
body {
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 2rem;
  margin: 0;

  box-sizing: border-box;

  background: linear-gradient(180deg, #1d402f, #4ba279);
  color: white;
}

/* ========== Заголовок ========== */
h1 {
  margin: 0;

  font-size: 6vw;
  line-height: 1.2;
  text-align: center;
}

@media (min-width: 48rem) {
  h1 {
    font-size: 3rem;
  }
}
